<!DOCTYPE html>
<html>
<head>
  <title>List of Restaurants</title>
</head>
<body>
  <h1>List of Restaurants</h1>
  <ul>
      <li>
      <h1>check list of Restaurants <a href="/restaurants">click here</a> </h1>

      </li>
  </ul>
</body>
</html> 